/* ==========================
   Card
========================== */
@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/mixins' as mixins;

.card-link {
  text-decoration: none; // Supprime le soulignement des liens
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: vars.$white;
  border: 1px solid vars.$lightgray;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05); // Agrandissement léger au survol
  }

  &-image {
    width: 100%;
    height: 150px;
    object-fit: cover; // S'assure que l'image reste proportionnelle
  }

  &-title {
    font-size: 16px;
    font-weight: 500;
    color: vars.$black;
    padding: 10px;
    text-align: center;
  }
}

/* Responsive Styles */
@include mixins.mobile {
  .card {
    &-image {
      height: 120px; // Réduit la hauteur sur mobile
    }

    &-title {
      font-size: 14px;
    }
  }
}
