/* ==========================
   Styles Généraux
========================== */
@use './variables' as vars;

// ==========================
// Styles Généraux
// ==========================
body {
  font-family: 'Montserrat', sans-serif;
  color: vars.$black;
}

a {
  text-decoration: none;
  color: vars.$black;
}
