/* ==========================
   Variables Globales
========================== */
$primary-red: #ff6060;
$white: #ffffff;
$black: #000000;
$gray: #cccccc;
$lightgray: #F6F6F6;
// Ajout d'un dégradé de gris foncé pour les images
$dark-gray: #333333;
$darker-gray: #222222;