/* ==========================
   Page 404
========================== */

@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/mixins' as mixins;

/* Header */
.header-404 {
  margin: 50px 100px 139px 100px; // Marge de 100px à gauche et à droite

  @include mixins.mobile {
    margin: 0 20px 113px;
  }
}

/* Main Content */
.main-404 {
  display: flex;
  flex-direction: column;
  gap: 139px;
  align-items: center;
  margin-bottom: 0;

  @include mixins.mobile {
    gap: 113px;
  }

  .error-code {
    font-size: 288px;
    font-weight: 700;
    color: vars.$primary-red;

    @include mixins.mobile {
      font-size: 96px; // Taille réduite pour mobile
    }
  }

  .error-message {
    font-size: 36px;
    font-weight: 400;
    color: vars.$primary-red;
    text-align: center;
    margin: 20px 0; // Espacement entre le code d'erreur et le message

    @include mixins.mobile {
      font-size: 18px;
      line-height: 1.4; // Espacement entre les lignes
      max-width: 200px; // Limite la largeur pour forcer un retour à la ligne
    }
  }

  .back-home {
    font-size: 18px;
    font-weight: 500;
    color: vars.$black;
    text-decoration: none;
    border-bottom: 1px solid vars.$black; // Soulignement stylisé
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7; // Soulignement stylisé
    }

    @include mixins.mobile {
      font-size: 14px;
    }
  }
}

/* Footer */
.footer-404 {

  .footer-logo img {
    filter: brightness(0) invert(1); // Logo en blanc
    width: 122px;
    height: 39px;
  }

  p {
    font-size: 24px;
    text-align: center;
  }

  @include mixins.mobile {
  }
}
